<style>
  @font-face {
    font-family: "Adobe Caslon Pro", sans-serif;
    src: url("../assets/fonts/ACaslonPro");
  }
  @font-face {
    font-family: "Adobe Caslon Pro";
    src: url('https://github.com/bstaats/livestaats/blob/master/design/Adobe%20Caslon%20Pro/Adobe%20Caslon%20Pro%20Font%20Files/ACaslonPro-Bold.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Adobe Caslon Pro";
    src: url('https://github.com/bstaats/livestaats/blob/master/design/Adobe%20Caslon%20Pro/Adobe%20Caslon%20Pro%20Font%20Files/ACaslonPro-Italic.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Adobe Caslon Pro";
    src: url('https://github.com/bstaats/livestaats/blob/master/design/Adobe%20Caslon%20Pro/Adobe%20Caslon%20Pro%20Font%20Files/ACaslonPro-BoldItalic.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }

  body {
    font-family: "Adobe Caslon Pro", sans-serif;
    font-family: "NY-Irvin", serif
      src: url("../assets/fonts/NY-Irvin.tff");
  }
</style>
