<style>
  @font-face {
    font-family: "Zilla Slab";
    src: url('https://github.com/mozilla/zilla-slab/tree/master/sources/ZillaSlab-Regular.ufo');
  }
  @font-face {
    font-family: "Zilla Slab";
    src: url('https://github.com/mozilla/zilla-slab/tree/master/sources/ZillaSlab-Bold.ufo');
    font-weight: bold;
  }
  @font-face {
    font-family: "Zilla Slab";
    src: url('https://github.com/mozilla/zilla-slab/tree/master/sources/ZillaSlab-Italic.ufo');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Zilla Slab";
    src: url('https://github.com/mozilla/zilla-slab/tree/master/sources/ZillaSlab-Bold.ufo');
    font-weight: bold;
    font-style: italic, oblique;
  }

  body {
    font-family: "Zilla Slab", serif;
  }
</style>
